[Desktop Entry]
Version=1.0
Type=Application
Name=Veldmuis Installer
Comment=Launch the graphical Veldmuis installer
Exec=/usr/local/bin/veldmuis-calamares-launcher
Icon=/etc/calamares/branding/veldmuis/logomain.png
Terminal=false
Categories=System;
StartupNotify=true
